@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(254, 253, 253);
    width: 100%;
}
.box1{
    align-items: center;
    display: flex;
    justify-content: left;
    font-family: "Josefin Sans", sans-serif;
}



.box1, nav, a{
    padding-left: 47px;
    padding-right: 30px;
    text-decoration:none ;
    color: #000;
}




.box3 {
    float: left;
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 540px;
}